*{margin:0;padding:0}
html,body{height:100%;width:100%}
body{font-size:0.3rem}
b,strong{font-weight:normal;}
a{text-decoration:none;}
.top{
	width:100%;
	height:0.88rem;
	background:#333;
	color:white;
	font-size:0.35rem;
	position:relative;
	top:0;
	left:0;
	z-index:3;
}
.top div{
	width:100%;
	height:0.88rem;
	line-height:0.88rem;
	text-align:center;
}
.bg-icon{
	width:0.64rem;
	height:0.64rem;
	display:block;
	background:url(../images/back-icon.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0.1rem;
	left:0.1rem;
}
.block {
    margin-top: 0.2rem;
    padding: 0.2rem 0.2rem;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
/*服务详情*/

.service-type{
	overflow:hidden;
	border-bottom:1px solid #ccc;
}
.service-type div{
	margin-bottom:0.2rem;
}
#work-status{
	float:right;
	margin-right:0.2rem;
}
.good-detail{
	overflow:hidden;
	box-sizing:border-box;
	padding:0.1rem;
}
.good-detail dt.good-picture{
	float:left;
	width:1.4rem;
	height:1.4rem;
	background:white;
	border:1px solid #ccc;
	border-radius:4px;
	font-size:1rem;
	text-align:center;
	vertical-align:middle;
	margin-top:0.1rem;
}
.good-detail dt.good-picture img.icon-url{
	display:inline-block;
	max-width:100%;
	max-height:100%;
	vertical-align:middle;	
}
.good-detail dd.good-conts{
	float:left;
	margin-left:0.2rem;
	height:1rem;
	width:5rem;
	margin-top:0.1rem;
}
#goods-name{
	font-size:0.32rem;
	color:#333;
	margin-top:0.2rem;
}
#goods-standard{
	font-size:0.26rem;
	color:#ccc;
	margin-top:0.3rem;
}
/*售后问题*/
.size{
	font-size:0.28rem;
	color:#666;
}
.size-big{
	font-size:0.28rem;
	color:#333;
}

.sale-problem dl{
	overflow:hidden;
	padding:0.2rem;
}
.sale-problem dl.type{
	border-bottom:1px solid #e6e6e6;
	padding-top:0;
}
.sale-problem dt{
	float:left;
}
.sale-problem dd{
	float:left;
}
.service-address span{
	padding-left:0.2rem;
}
.com-cont{
	padding-left:0.2rem;
}
.star{
	height:0.5rem;
	padding:0.2rem 0 0 0.2rem;
}
.star-distance{
	display:inline-block;
	width:0.32rem;
	height:0.32rem;
	margin-right:0.16rem;
}
.reply span{
	padding-left:0.2rem;
}
.comment{
	margin-top:1rem;
	cursor: pointer;
}
.my-comment p{
	border-bottom:1px solid #ccc;
	padding:0 0.15rem 0.15rem 0.15rem;
	font-size:0.28rem;
	color:#666;
}
#go-comment {
    width: 6.14rem;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #d6a41d;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 12px;
    font-size: 0.34rem;
    cursor: pointer;
}
/*===============异常===================*/
.loading{
	width:100%;
	position:absolute;
	height:100%;
	z-index:99;
	left:0;
	top:0.88rem;
	display:none;
}
.loading .middle{
	width:100%;
	position:absolute;
	height:6rem;
	text-align:center;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
}
.middle img{
	width:2.1rem;
	margin:0 auto;
	margin-bottom:0.3rem;
	display:block;
}
#wpReload{
	color:#0AA1F8;
}